contourpy==1.2.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
fonttools==4.49.0
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pillow==10.2.0
pyparsing==3.1.2
pyserial==3.5
python-can==4.3.1
python-dateutil==2.9.0.post0
pywin32==306
six==1.16.0
Spectral-BLDC==1.18
typing_extensions==4.10.0
wrapt==1.16.0